<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark">
        <div class="flex-grow-1">
            <a aria-label="Home" class="logo" routerLink="/">
                <img src="https://phoenixaerodrone.files.wordpress.com/2020/09/logo.png">
            </a>
        </div>
        <div class="flex-grow-1 float-right">
            <div *ngIf="isLoggedIn" ngbDropdown class="float-right">
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button (click)="goToUserProfile()" ngbDropdownItem>Profile</button>
                    <button (click)="logout()" ngbDropdownItem>Logout</button>
                </div>
                <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
                    <img class="account-icon" [src]=this.photo>
                    {{username}}
                </button>
                <div class="flex-grow-1 float-right">
                 <a routerLink="/" class="float-left sign-up mr-2">Home</a>
                </div>
            </div>            
            <div *ngIf="!isLoggedIn">
                <a routerLink="/sign-up" class="float-right sign-up mr-2">Sign up</a>
                <a routerLink="/login" class="float-right login mr-2">Login</a>
            </div>
        </div>
    </nav>
</header>
<ngx-spinner></ngx-spinner>