.login-section{
    margin: 100px;
}

.login-failed, .register-success{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border: 2px solid black;
    width: 65%;    
    background-color: red;
}

.login-failed-text, .register-success-text{
    text-align: center;
    margin-top: 5px;
    font-weight: bold;    
    color: aliceblue;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden; 
    background-color: #333;
    margin-left: auto;
    margin-right: auto; 
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 14px;
    text-decoration: none;
  }
  