<div class="login-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center"><h4>Login</h4></div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group row">
                            <label for="user_name" class="col-md-4 col-form-label text-md-right">Username</label>
                            <div class="col-md-6">
                                <input type="text" id="user_name" class="form-control" placeholder="Username" [formControlName]="'username'" name="user_name" required
                                    autofocus>
                                <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
                                   Please provide a valid username
                                </span>                                    
                            </div>
                        </div>
 
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input type="password" id="password" class="form-control" placeholder="Password" [formControlName]="'password'" name="password" required>
                                <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                                  Password cannot be empty
                                </span>                                
                            </div>
                        </div>
 
                        <span class="col-md-6 offset-md-4">
                            <button type="submit" class="login">
                                Login
                            </button>
                            <span style="padding-left: 15px">New User? <a routerLink="/sign-up">Signup</a></span>
                        </span>                        
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

<hr />
<!-- <ul>
   <li> <a href=""><i class="fa fa-user mt-3"></i> </a> </li>
   <li> <a href="mailto:phoenixaerodrone@gmail.com?subject=Phoenix Blog support"><i class="fa fa-envelope mt-3"></i></a> </li>
   <li> <a href="https://www.linkedin.com/in/bhavyanth-kondapalli-1b5912187/"><i class="fa fa-linkedin mt-3"></i></a> </li>
   <li><a href="https://github.com/Bhavyanth"><i class="fa fa-github mt-3"></i> </a> </li>
   <li><a href="https://www.instagram.com/bhavyanth_kondapalli/"><i class="fa fa-instagram mt-3"></i>    </a> </li>
   <li style="float:right"><a href="/"></a></li>
  </ul> -->
</div>
<ngx-spinner></ngx-spinner>