.post{
    --post-line-color: #ccc;    
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;
}

.btnCommments{
    border-radius: 2px solid;
    color: #878A8C;
    opacity: 1;
}
.btnRead{
    background-color: transparent;
    border-color: #190f46;
    color: #ffffff;
    fill: #ffffff;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;  
}
.btnRead{
    background-color: #436ba7;
    border-color: #d1dae0;
    color: rgb(255, 255, 255);
}

.btnCommments:hover{
    opacity: 0.65;
    cursor: pointer;
}

.post-title{
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
    color: rgb(5, 31, 117);
}

.posturl, .postname{    
    color: rgb(27, 23, 23);
}

.subreddit-text{
    font-weight: bold;
    color: rgb(10, 32, 107);
}

.post-text{
    margin-top: 10px;
}