<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<div class="row post" *ngFor="let post of posts">
  <app-vote-button [post]="post"></app-vote-button>
  <div class="col-md-11">
    <span class="subreddit-info">
      <span class="subreddit-text"><a class="posturl" routerLink="">{{post.subredditName}}</a></span>
      <span> . Posted by <a class="username" routerLink="/user/{{post.userName}}">{{post.userName}}</a></span>
      <span> . {{post.duration}}</span>
    </span>
    <hr />
    <div class="post-title">
      <a class="postname" href="{{post.url}}">{{post.postName}}</a>
    </div>
    <div>
      <p class="post-text" [innerHtml]=post.description.substring(0,100)></p>
    </div>
    <hr />
    <span>
      <a class="btnCommments" role="button">
        <i class='fas fa-comment-dots'></i>
        Comments({{post.commentCount}})
      </a>
      <button class="btnRead" (click)="goToPost(post.id)">
        Read Post
      </button>
    </span>
  </div>
</div>
<ngx-spinner></ngx-spinner>
