<div class="sidebar">
    <img class="image" src="https://phoenixaerodrone.files.wordpress.com/2020/10/01-3d-robotics-solo-autonomous-drones-e1602262483545.png">
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">Create Category</button>
    </div>
    <div style="text-align: center; font-size: 12px">*Create category and then create a post under it</div>
</div>