<div class="register-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Signup</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="signupForm" (ngSubmit)="signup()">
                        <div class="form-group row">
                            <label for="email_address" class="col-md-4 col-form-label text-md-right">Email
                                </label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'email'" id="email_address" class="form-control" placeholder="Email" name="email-address" required
                                    autofocus>
                                <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
                                    Please provide a valid email
                                </span>                                    
                            </div>
                        </div>
 
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Username</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'username'"class="form-control" placeholder="Username" required autofocus>
                                <span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">
                                    Please provide a valid username
                                </span>                                 
                            </div>
                        </div>
 
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input type="password" [formControlName]="'password'" id="password" class="form-control" placeholder="Password" name="password" required>
                                <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
                                    Please provide a valid Password
                                </span>  
                            </div>
                        </div>
 
                        <span class="col-md-6 offset-md-4">
                            <button type="submit" class="sign-up">
                                Sign Up
                            </button>
                            <span style="padding-left: 15px">Existing user? <a routerLink="/login">Login</a></span>
                        </span>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

<!-- <ul>
    <li> <a href=""><i class="fa fa-user mt-3"></i> </a> </li>
    <li> <a href="mailto:phoenixaerodrone@gmail.com?subject=Phoenix Blog support"><i class="fa fa-envelope mt-3"></i></a> </li>
    <li> <a href="https://www.linkedin.com/in/bhavyanth-kondapalli-1b5912187/"><i class="fa fa-linkedin mt-3"></i></a> </li>
    <li><a href="https://github.com/Bhavyanth"><i class="fa fa-github mt-3"></i> </a> </li>
    <li><a href="https://www.instagram.com/bhavyanth_kondapalli/"><i class="fa fa-instagram mt-3"></i>    </a> </li>
    <li style="float:right"><a href="/"></a></li>
   </ul> -->
</div>
<ngx-spinner></ngx-spinner>