<div class="sidebar-view-subreddit">
    <div style="color: black; font-weight: bold">
        <a style="color: black" href="/list-category" >Category List</a></div>
    <hr />
    <span *ngFor="let subreddit of subreddits">
        <span class="subreddit-text"><a href="/view-category/{{subreddit.id}}">{{subreddit.name}}</a></span>
        <hr />
    </span>
    <div style="text-align: center" *ngIf="displayViewAll">
        <a style="font-weight: bold" routerLink="/list-category">View All</a>
    </div>
</div>
<ngx-spinner></ngx-spinner>