<div class="container">
  <div>
    Welcome <b>{{name}}</b>.<br /> You have posted <b>{{postLength}}</b> time(s) and commented
    <b>{{commentLength}}</b> time(s).
    You can check your post and comment history below.
  </div>
  <hr />
  <div>
    Your Posts:
  </div>
  <app-post-tile [posts]="posts"></app-post-tile>
  <hr />
  <div>
    Your Comments:
  </div>
  <div *ngFor="let comment of comments">
    <div class="comment">
      <div class="username">
        <a routerLink="/user/comment.username">{{comment.userName}}</a>
      </div>
      <div>
        <p>{{comment.duration}}</p>
      </div>
      <b>{{comment.text}}</b>
    </div>
    <hr />
  </div>

<!-- <ul>
  <li> <a href=""><i class="fa fa-user mt-3"></i> </a> </li>
  <li> <a href="mailto:phoenixaerodrone@gmail.com?subject=Phoenix Blog support"><i class="fa fa-envelope mt-3"></i></a> </li>
  <li> <a href="https://www.linkedin.com/in/bhavyanth-kondapalli-1b5912187/"><i class="fa fa-linkedin mt-3"></i></a> </li>
  <li><a href="https://github.com/Bhavyanth"><i class="fa fa-github mt-3"></i> </a> </li>
  <li><a href="https://www.instagram.com/bhavyanth_kondapalli/"><i class="fa fa-instagram mt-3"></i>    </a> </li>
  <li style="float:right"><a href="/"></a></li>
 </ul> -->
</div>
<ngx-spinner></ngx-spinner>