ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden; 
    background-color: #333;
    margin-left: auto;
    margin-right: auto; 
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 14px;
    text-decoration: none;
  }