
<div class="col-md-1">
    <div class="d-flex flex-column votebox">
        <div class="p-2">
            <i (click)="upvotePost()" class="fa fa-thumbs-up upvote" [style.color]="post.upVote ? 'green':''">
            </i>
        </div>
        <div class="p-2 votecount">{{post.voteCount}}</div>
        <div class="p-2">
            <i (click)="downvotePost()" class="fa fa-thumbs-down downvote" [style.color]="post.downVote ? 'red':''">
            </i>
        </div>
    </div>
</div>
