<div style="background-image: url('https://phoenixaerodrone.files.wordpress.com/2020/11/16ibeu.jpg'); opacity: 1;">
<div class="reddit-body">
  <div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <app-post-tile [posts]="posts"></app-post-tile>
      </div>
      <div class="col-md-3">
        <app-side-bar></app-side-bar>
        <app-subreddit-side-bar></app-subreddit-side-bar>
      </div>
    </div>
  </div>
</div>
  <hr />
  <ul>
     <li> <a href=""><i class="fa fa-user mt-3"></i> </a> </li>
     <li> <a href="mailto:phoenixaerodrone@gmail.com?subject=Phoenix Blog support"><i class="fa fa-envelope mt-3"></i></a> </li>
     <li> <a href="https://www.linkedin.com/in/bhavyanth-kondapalli-1b5912187/"><i class="fa fa-linkedin mt-3"></i></a> </li>
     <li><a href="https://github.com/Bhavyanth"><i class="fa fa-github mt-3"></i> </a> </li>
     <li><a href="https://www.instagram.com/bhavyanth_kondapalli/"><i class="fa fa-instagram mt-3"></i>    </a> </li>
     <li style="float:right"><a href="/"></a></li>
    </ul>
</div>
<ngx-spinner></ngx-spinner>