<div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <h2>List of Categories</h2>
        <hr />
        <ul>
          <li *ngFor="let subreddit of subreddits">
              <a routerLink="/view-category/{{subreddit.id}}">{{subreddit.name}}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <app-side-bar></app-side-bar>
      </div>
    </div>

  <!-- <ul>
    <li> <a href=""><i class="fa fa-user mt-3"></i> </a> </li>
    <li> <a href="mailto:phoenixaerodrone@gmail.com?subject=Phoenix Blog support"><i class="fa fa-envelope mt-3"></i></a> </li>
    <li> <a href="https://www.linkedin.com/in/bhavyanth-kondapalli-1b5912187/"><i class="fa fa-linkedin mt-3"></i></a> </li>
    <li><a href="https://github.com/Bhavyanth"><i class="fa fa-github mt-3"></i> </a> </li>
    <li><a href="https://www.instagram.com/bhavyanth_kondapalli/"><i class="fa fa-instagram mt-3"></i>    </a> </li>
    <li style="float:right"><a href="/"></a></li>
   </ul> -->
  </div>